$base-color1: #181821;
$base-color-alt1: #a0a1ff;
$base-color2: #181821;
$base-color-alt2: #ddd9e8;
$base-color-alt2-muted: #ddd9e890;
$base-color3: #343a40;
$base-color-alt3: #8c8dff;
$base-color-alt3-muted: #606085;
$base-color-alt4: #eef0f3;
$base-color-alt5: #1b1f23;
$base-font1: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
$base-font-size: 1rem;
$base-font-weight: inherit;
$base-panel-bg: #292938;